<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Kisiden</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.610548128900-f6b9jbpdhh9neule81cvuark997knojj</string>
			</array>
		</dict>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kisiden</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
	<string>UIInterfaceOrientationPortrait</string>
	<string>UIInterfaceOrientationLandscapeLeft</string>
	<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
	<string>UIInterfaceOrientationPortrait</string>
	<string>UIInterfaceOrientationPortraitUpsideDown</string>
	<string>UIInterfaceOrientationLandscapeLeft</string>
	<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>İlanlarınıza video veya ses kaydı ekleyebilmeniz için mikrofonunuza erişmemiz gerekiyor.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Uygulama içinde sesli arama ve komut özelliklerini kullanabilmeniz için ses tanıma iznine ihtiyacımız var.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Size en yakın ilanları gösterebilmemiz ve konum tabanlı aramalar yapabilmeniz için konumunuza erişmemiz gerekiyor.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Size en yakın ilanları kesintisiz bir şekilde sunabilmemiz için konum bilginize ihtiyacımız var.</string>
	<key>com.apple.developer.applesignin</key>
	<array>
	<string>Default</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
    <false/>
	<key>GADApplicationIdentifier</key>
<string>ca-app-pub-2864672373009685~8951390967</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>Yakınınızdaki ilanları göstermek için konumunuza erişmemiz gerekiyor.</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>Yakınınızdaki ilanları göstermek için konumunuza erişmemiz gerekiyor.</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>İlanlarınıza veya destek taleplerine fotoğraf eklemek için galerine erişmemiz gerekiyor.</string>
<key>NSCameraUsageDescription</key>
<string>İlanlarınıza veya profilinize fotoğraf eklemek için kamerana erişmemiz gerekiyor.</string>
<key>NSMicrophoneUsageDescription</key>
<string>Sesli arama özelliğini kullanmak için mikrofonunuza erişmemiz gerekiyor.</string>
<key>NSSpeechRecognitionUsageDescription</key>
<string>Arama çubuğunda sesle arama yapmak için konuşma tanıma özelliğine erişmemiz gerekiyor.</string>
<key>SKAdNetworkItems</key>
<array>
  <dict>
    <key>SKAdNetworkIdentifier</key>
    <string>cstr6suwn9.skadnetwork</string>
  </dict>
  <!-- Google'ın önerdiği diğer SKAdNetworkIdentifier'ları buraya ekleyebilirsiniz -->
</array>


</dict>
</plist>
